<div class="container">
  <h1>New restaurant</h1>
  <%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :category, collection: Restaurant::CATEGORY %>
  <%= f.input :phone_number %>
  <%= f.button :submit, class:"btn btn-outline-primary" %>
  <% end %>
</div>
